@model ApplicationUser
@{
    ViewData["Title"] = "Profile";

}
<section style="padding:25px;">
    <form>
        <input type="hidden" id="hdnUserId" value="@Model.Id" />
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtFullName">Full Name</label>
                <input type="text" class="form-control" id="txtFullName" autocomplete="off" value="@Model.FullName">
            </div>
            <div class="form-group col-md-4">
                <label for="txtPhone">Phone</label>
                <input type="text" class="form-control" id="txtPhone" autocomplete="off" value="@Model.Phone">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtAddress1">Address 1</label>
                <input type="text" class="form-control" id="txtAddress1" autocomplete="off" value="@Model.Address1">
            </div>
            <div class="form-group col-md-4">
                <label for="txtAddress2">Address 2</label>
                <input type="text" class="form-control" id="txtAddress2" autocomplete="off" value="@Model.Address2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="txtCity">City</label>
                <input type="text" class="form-control" id="txtCity" autocomplete="off" value="@Model.City">
            </div>
            <div class="form-group col-md-4">
                <label for="txtCountry">Country</label>
                <input type="text" class="form-control" id="txtCountry" autocomplete="off" value="@Model.Country">
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Submit" id="btnUpdateUser" class="btn btn-primary">
        </div>
    </form>
</section>

<script>

    $("#btnUpdateUser").click(function () {
        var modal = {
            UserId: $("#hdnUserId").val(),
            FullName: $("#txtFullName").val(),
            Phone: $("#txtPhone").val(),
            Address1: $("#txtAddress1").val(),
            Address2: $("#txtAddress2").val(),
            City: $("#txtCity").val(),
            Country: $("#txtCountry").val()
        }

        $.ajax({
            url: "/Admin/Update",
            method: "POST",
            dataType: "json",
            data: modal,
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success("User Updated!");
                }
                else {
                    toastr.error("Please contact administration!");
                }
            }
        });
    });

</script>